<div class="container">
  <form class="card">
    <h1>Home Work 09.03</h1>

    <div class="form-control">
      <label>Страна</label>
      <input type="text" placeholder="страна">
      <div class="validation"></div>
    </div>

    <div class="form-control">
        <label>Область</label>
        <select>
          <option value="minsk">Минская</option>
          <option value="grodno">Гродненская</option>
          <option value="brest">Брестская</option>
          <option value="mogilev">Могилевская</option>
          <option value="gomel">Гомельская</option>
          <option value="vitebsk">Витебская</option>
        </select>
    </div>

    <div class="form-control">
      <label>Город</label>
      <select>
        <option value="capital">Минск</option>
        <option value="city">Борисов</option>
      </select>
    </div>

    <div class="form-control">
      <label>Улица</label>
      <input type="text" placeholder="улица">
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Дом</label>
      <input type="text" placeholder="дом">
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Квартира</label>
      <input type="text" placeholder="квартира">
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label>Почтовый код</label>
      <input type="text" placeholder="почтовый код">
      <div class="validation"></div>
    </div>

    <div>
      <button class="btn">Отправить</button>
      <button class="btn">Отменить</button>
    </div>

  </form>
</div>



